---
http_interactions:
- request:
    method: post
    uri: http://onlinedemo2.cybozu.info/scripts/garoon/grn.exe/cbpapi/schedule/api
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
                           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                           xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                           xmlns:base_services="http://wsdl.cybozu.co.jp/base/2008">
          <SOAP-ENV:Header>
            <Action SOAP-ENV:mustUnderstand="1"
                    xmlns="http://schemas.xmlsoap.org/ws/2003/03/addressing">
              ScheduleRemoveEvents
            </Action>
            <Security xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                      SOAP-ENV:mustUnderstand="1"
                      xmlns="http://schemas.xmlsoap.org/ws/2002/12/secext">
              <UsernameToken wsu:Id="id">
                <Username>sato</Username>
                <Password>sato</Password>
              </UsernameToken>
            </Security>
            <Timestamp SOAP-ENV:mustUnderstand="1" Id="id"
                       xmlns="http://schemas.xmlsoap.org/ws/2002/07/utility">
              <Created>2016-09-27T22:05:03+09:00</Created>
              <Expires>2016-09-28T22:05:03+09:00</Expires>
            </Timestamp>
            <Locale>jp</Locale>
          </SOAP-ENV:Header>
          <SOAP-ENV:Body>
            <ScheduleRemoveEvents>
          <parameters>
            <event_id>340</event_id>
            <event_id>341</event_id>
            <event_id>342</event_id>
            <event_id>343</event_id>
            <event_id>344</event_id>
          </parameters>
        </ScheduleRemoveEvents>
          </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Cybozu-Forward:
      - '1'
      X-Cybozu-User:
      - '6'
      Content-Type:
      - application/soap+xml; charset="utf-8"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <soap:Envelope
         xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:schedule="http://wsdl.cybozu.co.jp/schedule/2008">
         <soap:Header><vendor>Cybozu</vendor><product>Garoon</product><product_type>1</product_type><version>4.2.3</version><apiversion>1.6.0</apiversion></soap:Header>
         <soap:Body> </soap:Body>
        </soap:Envelope>
  recorded_at: Tue, 27 Sep 2016 13:05:04 GMT
[...]
